


@import "partials/queries";
@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";
@include titulos (0.rem);
body{
    font-family: 'Teko', sans-serif;
    background-color:hsl(125, 91%, 21%);
}
/* titulo */
h1{
    margin: 20px;
    color: rgb(238, 228, 228);
    font-weight:$anchomax;
    font-size: $fonttittle;
}
/*  */
/* navbar */
.encabezado{
   background-color: $green;
    height:15%;
    margin: 0px;
    position: sticky;
 } 
    /*  */

/* envio */
div.envio{
    font-size: 25px;
    background-image: linear-gradient(to top,black,rgb(117, 117, 121));
    color: rgb(2, 209, 12);
    width:100%;
    height:40px;
    text-align: center;
    margin: 0px;
    
}  
/*  */
section.nuestracategoria{
    background-color: rgb(179, 156, 27);
    font-size: $fontsizegrande;
   h2 {
    font-size: $fontsizegrande;
    color: black;
    }
    }
    /*  */
    /* formulario contacto */
    section.form-container{
        font-size: 20px;
        color: black;
       h2 {
          font-size:$fontsizegrande; 
          color: rgb(200, 226, 226);
        }
        div{
            margin: 50px;
            margin-left: 70px;
        }
        /*  */
    }
    /* footer */ 
    footer{
        background-color: black;
    }
.foot{
    background-color: rgb(0, 0, 0);
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
   flex-shrink: inherit;
   font-size: $fontsizechica;
   border-radius: 6px;
   color: rgb(122, 113, 113);
   padding-left: 3%;
   p{
    color: rgb(97, 95, 95);
   }
  
   a{
    color:rgb(138, 216, 21);
    text-decoration: none;

}
}
/*  */
#checkbox-menu, label.menu{
    display: none;
    /*  */
}
/* extend */
.btn{
    font-size: $fontsizegrande;
    width: 10px;
    height: 10px;
    border: 2px;
    border-radius: 3px;
    
}
.btn-red{
    @extend .btn;
    
   color: red
    }
.btn-green{
    @extend .btn;
    background-color: green;
    color: bisque;
    border-bottom: 2px;
    height: 20px;
}
.botom{
    font-size: 10px;
}
/*  */
/* categoria */

.btnred{
    background-color: red;
    border-radius: 2px;
}
